/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2014, 3:43:42 AM
    Author     : rvhaley
*/

table {
    border-collapse: collapse;
}

div#headerDiv {
    background-color: lightgray;
    border-radius: 25px;
    border-color: black;
}

div.pageTitleDiv {
    background-color: gray;
    border-radius: 25px;
    width: 30%;
}

#scheduleTableHeader {
    background-color: lightgray;
}

#headerTitle, #footerCreated {
    text-align: center;
}